.*.swp
.byebug_history
.DS_Store
.idea
.mm-pid-*
.rbenv-*
.ruby-gemset
.ruby-version
.sass-cache
.sassc
.tmp
.vscode
.yardoc
*.sublime-workspace
/.bundle
/bin
/vendor/bundle/
build
coverage
deps.yml
doc
docs
graph.dot
graph.jpg
Makefile
manifest.yaml
node_modules
npm-debug.log
pkg
rdoc
tmp
